.new-products{
    background-image: url(/images/section-title-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    &__title{
        width: 35%;
        text-align: right;
        color: #FAF6F0;
        background-color: #454850;
        @include adaptiv-paddingTop(70,40);
        @include adaptiv-paddingBottom(70,40);
        @include adaptiv-paddingRight(90,50);
        @include adaptiv-marginBottom(80,40);
        border-radius: 0px 110px 110px 0px;
        @include adaptiv-font(45,20);
    }
    &__tabs{
        &-nav{
            overflow-x: scroll;
            @include adaptiv-marginBottom(100,50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(219, 192, 158, 0.5);
            border-radius: 20px 20px 0px 0px;
            &_item{
                display: flex;
                align-items: center;
                height: 85px;
                padding: 22px 40px;
                text-align: center;
                @include adaptiv-font(24,12);
                font-family: 'OrchideaProRegular';
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}



@media (max-width: 600px) {
    .new-products{
        &__title{
            width: 50%;
        }
    }
}