//settings
@import 'settings/vars';
@import 'settings/fonts';
@import 'settings/reset';
@import 'settings/libs';
@import 'settings/global';
@import 'settings/slider';
@import 'settings/breadcrumbs';

//common blocks
@import '../blocks/header/header';
@import '../blocks/footer/footer';
@import '../blocks/mobMenu/mobMenu';
@import '../blocks/products/products';

//main page blocks
@import '../blocks/promo/promo';
@import '../blocks/discounts/discounts';
@import '../blocks/delivery/delivery';
@import '../blocks/new-products/new-products';
@import '../blocks/sale/sale';
@import '../blocks/reviews/reviews';
@import '../blocks/advantages/advantages';
@import '../blocks/news/news';
@import '../blocks/howOrder/howOrder';
@import '../blocks/payment-delivery/payment-delivery';
@import '../blocks/clients/clients';

//all dishes page blocks
@import '../blocks/filter/filter';
@import '../blocks/sortCountView/sortCountView';

//product page blocks
@import '../blocks/product/product';

//cart page blocks
@import '../blocks/cart/cart';

// checkout page blocks
@import '../blocks/checkout/checkout';

// stocks page blocks
@import '../blocks/stocks/stocks';

// stock page blocks
@import '../blocks/stocks/stock';
@import '../blocks/stocks/other-stock';

// about page blocks
@import '../blocks/about/about';

// contacts page blocks
@import '../blocks/contacts/contacts';

// favourites page blocks
@import '../blocks/favourites/favourites';

// error-404 page blocks
@import '../blocks/error-404/error-404';

// account page blocks
@import '../blocks/account/account-enter';

// modal page blocks
@import '../blocks/modal/modal';