.slider-theme {
    overflow-x: hidden;

    &__item {
        border-radius: 50px;
    }
}


.owl {
    &-stage {
        display: flex;
        &-outer{
            overflow-x: hidden;
        }
    }

    &-dots{
        display: none;
        margin-top: 35px;
    }

    &-drag{
        display: flex;
        flex-direction: column;
    }

    &-nav {
        margin-top: 35px;
        display: flex;
        justify-content: end;

        button {
            width: 50px;
            height: 50px;
            border: 1px solid rgba(69, 72, 80, 0.5);
            border-radius: 50%;
            transition: all .3s;
            padding: 13px;

            &:hover {
                cursor: pointer;
                background-color: #C79B77;
                border: 1px solid transparent;
            }

            span{
                display: none;
            }
        }
    }

    &-prev {
        margin-right: 15px;
        background-image: url(/images/icons/arrow-prev-black.svg);
        background-repeat: no-repeat;
        background-position: center center;
        &:hover {
            background-image: url(/images/icons/arrow-prev-white.svg);
        }
    }

    &-next {
        background-image: url(/images/icons/arrow-next-black.svg);
        background-repeat: no-repeat;
        background-position: center center;
        &:hover {
            background-image: url(/images/icons/arrow-next-white.svg);
        }
    }
}


@media (max-width: 750px) {
    .owl{
        &-nav{
            display: none;
        }

        &-dots{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-dot{
            width: 8px;
            height: 8px;
            border: 1px solid #454850;
            border-radius: 50%;
            background-color: transparent;
            &:not(:last-child){
                margin-right: 10px;
            }
        }

        &-dot.active{
            width: 12px;
            height: 12px;
            background-color: #DFB778;
        }
    }
}