.other-stocks {
    &>.container {
        .stocks__list {
            overflow-x: hidden;
            display: flex;
            justify-content: space-between;

            &>.stocks__item {
                width: 32%;
                flex-direction: column;
                margin-bottom: 0;

                &>.stocks__item-left {
                    width: 100%;
                    margin-bottom: 30px;

                    &>.stocks__item-info {
                        width: 35%;
                        margin-left: 30px;
                        max-width: none;
                    }

                    &>.stocks__item-img {
                        width: 45%;
                        border-radius: 40px;
                        object-fit: cover;
                    }
                }

                &>.stocks__item-right {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;

                    &>.stocks__item-btn {
                        margin: auto;
                    }
                }
            }
        }
    }
}


@media (max-width: 1400px) {
    .other-stocks {
        .stocks {
            &__list {
                flex-direction: column;
            }

            &__item{
                display: flex;
                flex-direction: column;

                &-left,
                &-right{
                    width: 100%;
                }

                &-left{
                    margin-bottom: 15px;
                }
            }
        }
    }
}


@media (max-width: 1000px) {
    .other-stocks {
        .stocks {
            &__item{
                &-right{
                    flex-direction: column;
                    &_conditions{
                        width: 100%;
                    }
                }

                &-btn{
                    width: 50%;
                }
            }
        }
    }
}