.stock {
    @include adaptiv-marginBottom(105,50);
    &__wrapper {
        display: flex;
    }

    &__img {
        width: 45%;
        object-fit: cover;
        margin-right: 40px;
        border-radius: 0px 50px 50px 0px;
    }

    &__info {
        width: 50%;
        &-title {
            @include adaptiv-font(45,20);
            font-family: 'OrchideaProSemiBold';
            margin-bottom: 20px;
        }

        &-text {
            @include adaptiv-font(18,15);
            line-height: 140%;
            width: 55%;
            margin-bottom: 71px;
        }

        &-description{
            width: 55%;
            @include adaptiv-font(18,15);
            line-height: 140%;
            font-family: 'OrchideaProSemiBold';
        }
    }
}


@media (max-width: 1400px) {
    .stock{
        &__info{
            width: 45%;
            &-text,
            &-description{
                width: 100%;
            }
        }
    }
}


@media (max-width: 1000px) {
    .stock{
        &__wrapper{
            flex-direction: column;
        }
        &__img{
            width: 100%;
            margin-bottom: 20px;
        }
        &__info{
            width: 90%;
            margin: auto;
        }
    }
}