.mobMenu {
    background-color: #2C2F36;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: scroll;
    padding-bottom: 30px;
    transform: translateX(200%);
    transition: all 1s;

    &__container {
        width: 85%;
        margin: auto;
    }

    &__btn {
        &-box {
            margin-top: 22px;
            display: flex;
            justify-content: end;
            width: 100%;
            margin-bottom: 34px;
        }
    }

    &__search {
        position: relative;
        margin-bottom: 26px;

        &::after {
            position: absolute;
            content: url(/images/search-icon.svg);
            width: 17px;
            height: 17px;
            right: 23px;
            top: 12px;
        }

        &>input {
            padding-left: 20px;
            padding-right: 30px;
            width: 100%;
            height: 45px;
            border: 1px solid rgba(69, 72, 80, 0.1);
            border-radius: 30px;

            &::placeholder {
                font-size: 16px
            }
        }
    }

    &__top {
        &-nav{
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(219, 192, 158, 0.5);
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-item{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }

        &-link {
            font-size: 15px;
            color: #FAF6F0;
        }
    }

    &__center{
        &-nav{
            padding-top: 30px;
            margin-bottom: 50px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-item{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }

        &-link {
            font-size: 15px;
            color: #FAF6F0;
        }
    }


    &__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-info{
            font-size: 15px;
            color: #FAF6F0;
            &_text{
                margin-bottom: 8px;
            }
            &:first-child{
                margin-bottom: 43px;
            }
            &:nth-child(2){
                margin-bottom: 20px;
                text-align: center;
            }
            &:nth-child(3){
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
            }
        }
    }


}