.delivery {
    @include adaptiv-marginBottom(150, 75);


    .owl{
        &-dots{
            display: none;
        }
        &-stage-outer{
            overflow-x: visible;
        }
    }

    &__—Åategories {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        @include adaptiv-gridGap(40,10);
    }

    &__category{
        display: block;
        overflow: hidden;
        position: relative;
        transition: all .3s;
        &:hover{
            transform: scale(1.0125);
        }
        &-name{
            text-align: right;
            position: absolute;
            top: 13%;
            right: 50px;
            font-family: 'OrchideaProMedium';
            color: #FFFFFF;
            @include adaptiv-font(40,20);
        }
        &-img{
            width: 100%;
        }
    }

    .delivery__category-1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .delivery__category-2 {
        grid-area: 1 / 4 / 2 / 7;
    }

    .delivery__category-3 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .delivery__category-4 {
        grid-area: 2 / 3 / 3 / 5;
    }

    .delivery__category-5 {
        grid-area: 2 / 5 / 3 / 7;
    }

    .delivery__category-6 {
        grid-area: 3 / 1 / 4 / 4;
    }

    .delivery__category-7 {
        grid-area: 3 / 4 / 4 / 7;
    }

    .delivery__category-8 {
        grid-area: 4 / 1 / 5 / 3;
    }

    .delivery__category-9 {
        grid-area: 4 / 3 / 5 / 5;
    }

    .delivery__category-10 {
        grid-area: 4 / 5 / 5 / 7;
    }

    .delivery__category-11 {
        grid-area: 5 / 1 / 6 / 4;
    }

    .delivery__category-12 {
        grid-area: 5 / 4 / 6 / 7;
    }

    .delivery__category-13 {
        grid-area: 6 / 1 / 7 / 3;
    }

    .delivery__category-14 {
        grid-area: 6 / 3 / 7 / 5;
    }

    .delivery__category-15 {
        grid-area: 6 / 5 / 7 / 7;
    }
}


@media (max-width: 750px) {
    .delivery{
        &__category{
            height: 20vh !important;
            &-img{
                border-radius: 30px;
                overflow: hidden;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                object-fit: cover;
            }
            &-name{
                right: 45px;
            }
        }
    }
}


@media (max-width: 400px) {
    .delivery{
        &__category{
            height: 15vh !important;
        }
    }
}