.contacts{
    position: relative;
    &__map{
        height: 60vh;
    }
    &__info{
        width: 25%;
        position: absolute;
        background-color: #FAF6F0;
        border-radius: 50px;
        z-index: 5;
        top: 138px;
        left: 140px;
        padding: 40px;

        &-item{
            display: flex;
            &:not(:last-child){
                margin-bottom: 18px;
            }
            &_title{
                width: 30%;
                font-size: 18px;
                font-family: 'OrchideaProSemiBold';
            }
            &_text{
                width: 70%;
                font-size: 18px;
            }
            &_link{
                font-size: 18px;
                color: #454850;
                transition: .3s;
                &:hover{
                    color: #C79B77;
                }
            }
            &_tel{
                font-family: 'OrchideaProSemiBold';
            }
        }
    }
}