.cart {
    @include adaptiv-marginBottom(140, 70);

    &__options {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(69, 72, 80, 0.2);

        &>.share-btn {
            margin-right: 40px;
        }

        &>.backToShop-btn {
            margin-right: 40px;
        }
    }

    &-product {
        margin-bottom: 20px;

        &__main {
            display: flex;
            justify-content: space-between;
        }

        &__img {
            width: 20%;
            object-fit: contain;
        }

        &__info {
            width: 75%;
            border-bottom: 1px solid rgba(69, 72, 80, 0.2);
            padding-right: 3%;
            padding-bottom: 20px;

            &-top {
                &_title {
                    display: block;
                    color: #454850;
                    font-family: 'OrchideaProSemiBold';
                    margin-bottom: 15px;
                    @include adaptiv-font(24, 20);
                    transition: all .3s;

                    &:hover {
                        color: #DBC09E;
                    }
                }

                &_descr {
                    @include adaptiv-font(18, 15);
                    font-family: 'OrchideaProMedium';
                }
            }

            &>.products__item-center {
                justify-content: end;

                &>.products__item-price,
                &>.products__item-counter {
                    margin-right: 10%;
                }
            }

            &-bottom {
                &_text {
                    width: 40%;
                    @include adaptiv-font(18, 15);
                    line-height: 18px;
                    color: rgba(69, 72, 80, 0.5);
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-left: 50px;

                    &::before {
                        position: absolute;
                        content: url(/images/icons/cube.svg);
                        left: 0;
                    }
                }
            }
        }
    }


    &__addition {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &-input {
            border: 1px solid rgba(69, 72, 80, 0.5);
            border-radius: 50px;
            background-color: transparent;
            padding: 25px 35px;
        }

        &-btn {
            border: 1px solid rgba(69, 72, 80, 0.5);
            border-radius: 50%;
            background-color: transparent;
            padding: 22px 20px;
            transition: all .3s;

            &:hover {
                border: 1px solid transparent;
                background-color: #C79B77;
            }

            &:hover svg {
                fill: white;
                fill-opacity: 1;
            }
        }
    }


    &__price {
        font-family: 'OrchideaProBold';
        display: flex;
        align-items: center;

        &-title {
            @include adaptiv-font(24, 18);
            margin-right: 30px;
        }

        &-digit {
            @include adaptiv-font(45, 20);
        }
    }

    &__bonus {
        width: 21%;

        &-form {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }

        &-input {
            margin-right: 10px;
        }

        &-description {
            @include adaptiv-font(18, 15);
            line-height: 15px;

            &>strong {
                font-family: 'OrchideaProBold';
            }
        }
    }

    &__promo {
        &-form {
            display: flex;
            align-items: center;
        }

        &-input {
            margin-right: 10px;
        }
    }

    &__btn {
        padding: 25px 55px;
        position: relative;

        &:hover {
            background-color: transparent;
        }

        &::after {
            position: absolute;
            content: '* – не суммируется с акциями';
            font-size: 15px;
            color: rgba(69, 72, 80, 0.5);
            bottom: -25px;
        }
    }

}


@media (max-width: 1700px) {
    .cart {
        &__price {
            flex-direction: column;
            align-items: start;
        }

        &__bonus {
            width: 30%;
        }

        &__promo {
            width: 30%;
        }
    }
}


@media (max-width: 1350px) {
    .cart {
        &__addition {
            flex-wrap: wrap;
        }

        &__price {
            width: auto;
        }

        &__promo {
            width: auto;
        }

        &__bonus {
            width: 35%;
        }

        &__btn {
            margin-left: auto;
            margin-top: 50px;
        }


        .cart-product {
            &__info {
                padding-right: 0 !important;
                
                &-top{
                    margin-bottom: 20px;
                }

                &-bottom{
                    &_text{
                        width: 70%;
                    }
                }

                .products__item-center{
                    justify-content: space-between;
                }
            }
        }
    }
}


@media (max-width: 1000px) {
    .cart{
        &__options{
            justify-content: space-between;
        }
        &__price{
            margin-top: 50px;
            order: 3;
        }
        &__btn{
            order: 4;
        }
        &__bonus{
            width: 50%;
            &-description{
                width: 80%;
            }
        }
    }
}


@media (max-width: 750px) {
    .cart{
        .cart-product{
            &__main{
                flex-direction: column;
            }
            &__img{
                width: 50%;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
            }
            &__info{
                width: 100%;
            }
        }


        &__addition{
            flex-direction: column;
        }

        &__price{
            width: 100%;
            justify-content: center;
            order: 1;
            margin-top: 0;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
        }

        &__bonus{
            order: 2;
            width: 100%;
            margin-bottom: 25px;
            &-input{
                width: 90%;
            }
        }

        &__promo{
            order: 3;
            width: 100%;
            &-input{
                width: 90%;
            }
        }

        &__btn{
            margin-right: auto;
        }
    }
}


@media (max-width: 450px) {
    .cart{

        .cart-product{
            &__main{
                position: relative;
            }

            &__delete-product{
                position: absolute;
                top: 0;
                right: 0;
            }

            &__info{
                &-bottom{
                    &_text{
                        width: 100%;
                    }
                }

                .products__item-center{
                    flex-direction: column;
                    align-items: start;
                    .products__item-counter{
                        margin-right: 0;
                        order: 1;
                        margin-bottom: 25px;
                    }

                    .products__item-price{
                        margin-right: 0;
                        order: 2;
                    }
                }
            }
        }


        &__options{
            flex-direction: column;
            align-items: start;

            .share-btn,
            .backToShop-btn{
                margin-bottom: 20px;
            }
        }


        &__btn{
            width: 100%;
        }
    }
}