.reviews-form {
    width: 40%;
    margin: auto;
    &__title {
        position: static;
    }

    &__content {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    &__group {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 95px;

        h3{
            font-weight: 400;
            margin-right: 37px;
            color: rgba(69, 72, 80, 0.5);
            @include adaptiv-font(18,15);
        }

        div{
            display: flex;
        }

        img:not(:last-child){
            margin-right: 11px;
        }
    }

    &__input,
    &__textarea {
        line-height: 18px;
        color: rgba(69, 72, 80, 0.5);
        width: 100%;
        margin-bottom: 33px;
        border: none;
        border-bottom: 1px solid rgba(69, 72, 80, 0.2) !important;
        background-color: transparent;
        &::placeholder{
            color: rgba(69, 72, 80, 0.5);
            @include adaptiv-font(18,15);
        }
    }

    &__input{
        padding-bottom: 12px;
    }

    &__btn{
        width: 45%;
        &:hover{
            background-color: transparent;
        }
    }

    
}


@media (max-width: 1500px) {
    .reviews-form{
        width: 520px;
    }
}

@media (max-width: 600px) {
    .reviews-form{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .reviews-form{
        &__group{
            img{
                width: 21px;
                height: 21px;
            }
        }
        &__btn{
            width: 100%;
        }
    }
}