.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    &__img {
        width: 80%;
        margin-bottom: 27px;
    }

    &__title {
        @include adaptiv-font(45,20);
        font-family: 'OrchideaProSemiBold';
        margin-bottom: 12px;
        text-align: center;
    }

    &__text {
        @include adaptiv-font(18,15);
        margin-bottom: 30px;
        text-align: center;
    }

    &__btn {
        width: 17%;
        &:hover {
            background-color: transparent;
        }
    }
}


@media (max-width: 850px) {
    .error-404{
        &__btn{
            width: 50%;
        }
    }
}

@media (max-width: 450px) {
    .error-404{
        &__btn{
            width: 100%;
        }
    }
}