.area {
    @include adaptiv-marginBottom(150,75);
    &__title {
        margin-bottom: 64px;
    }

    &__content {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__points {
        width: 35%;
    }

    &__point {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px 110px 110px 0px;

        &:not(:last-child) {
            margin-bottom: 34px;
        }

        &:first-child {
            background-color: #89DC84;
        }

        &:nth-child(2) {
            background-color: #E9D383;
        }

        &:nth-child(3) {
            background-color: #ABD8F8;
        }

        &:nth-child(4) {
            background-color: #F59797;
        }

        &-price {
            @include adaptiv-font(24,18);
            margin-bottom: 15px;
            display: block;
        }

        &-text {
            @include adaptiv-font(24,18);
            line-height: 130%;

            &>span {
                font-family: 'OrchideaProSemiBold';
            }
        }

        &-description {
            margin-top: 8px;
            @include adaptiv-font(16,12);
            line-height: 130%;
            color: rgba(69, 72, 80, 0.5);
        }

        &-number {
            font-family: 'OrchideaProBold';
            @include adaptiv-font(128,80);
            color: #FAF6F0;
        }
    }

    &__map {
        object-fit: contain;
        width: 60%;
        border-radius: 50px 0px 0px 50px;
    }

    &__description {
        width: 30%;
        margin-top: 44px;
        @include adaptiv-font(20,15);
        line-height: 130%;
        color: #454850;
        font-family: 'OrchideaProSemiBold';
    }
}


@media (max-width: 1600px) {
    .area{
        &__content{
            flex-direction: column;
            &>.container{
                margin-bottom: 30px;
                order: 1;
            }
        }
        &__points{
            order: 0;
            width: 60%;
        }
        &__map{
            width: 100%;
            order: 2;
        }
        &__description{
            width: 50%;
        }
    }
}


@media (max-width: 850px) {
    .area{
        &__points{
            width: 100%;
        }
        &__point{
            border-radius: 0;
            &-left{
                width: 70%;
            }
        }
        &__description{
            width: 100%;
        }
    }
}