.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;


    &__logo{
        width: 10%;
        position: absolute;
        left: 4%;
        top: 0;
        transition: all .3s;
        &:hover{
            transform: scale(1.05);
        }
    }

    &__top {
        position: relative;
        z-index: 4;
        background-color: #2C2F36;
        padding-top: 30px;
        padding-bottom: 30px;

        &-inner {
            width: 85%;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
        }

        &-nav{
            height: fit-content;
        }

        &-list {
            display: flex;
        }

        &-item{
            &:not(:last-child){
                @include adaptiv-marginRight(60,0);
            }
        }

        &-link {
            color: #FAF6F0;
            @include adaptiv-font(18,9);
        }

        &-cabinet {
            color: #FAF6F0;
            @include adaptiv-font(18,9);
            position: relative;
            padding-left: 30px;
            height: fit-content;
            &::before{
                position: absolute;
                content: url(/images/cabinet-icon.svg);
                left: 0;
                top: -3px;
                width: 16px;
                height: 18px;
            }
        }

        &-mobile{
            display: none;
        }
    }

    &__addition{
        background-color: $background1Color;
        transition: all .3s;
    }

    &__center{
        margin-left: auto;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(219, 192, 158, 0.5);
        
        &-info{
            @include adaptiv-font(18,9);
            &_number{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-search {
            width: 25%;
            position: relative;
            &::after{
                position: absolute;
                content: url(/images/search-icon.svg);
                width: 17px;
                height: 17px;
                right: 23px;
                top: 12px;
            }
            &>input {
                padding-left: 20px;
                padding-right: 30px;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(69, 72, 80, 0.1);
                border-radius: 30px;
                &::placeholder{
                    font-size: 16px
                }
            }
        }

        &-btn{
            &_like{
                @include adaptiv-marginRight(25,10);
            }
            &_cart{
                position: relative;
                &::before{
                    top: -5px;
                    position: absolute;
                    content: '1';
                    background-color: #EC3333;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    color: #FFFFFF;
                    padding: 3px;
                    width: 16px;
                    height: 16px;
                    font-size: 10px;
                }
            }
        }
    }

    &__bottom{
        width: 85%;
        margin-left: auto;
        padding-top: 33px;
        padding-bottom: 33px;

        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-link {
            color: inherit;
            @include adaptiv-font(18,9);
        }
    }
}


@media (max-width: 950px) {
    .header{
        &__logo{
            width: 7%;
        }
        &__top{
            &-inner{
                width: 90%;
            }
        }
        &__center{
            width: 100%;
        }
        &__bottom{
            width: 100%;
        }
    }
}


@media (max-width: 750px) {
    .header{
        &__logo{
            top: 100%;
            width: 136px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        &__top{
            &-nav{
                display: none;
            }
            &-inner{
                width: 100%;
            }
            &-cabinet{
                display: none;
            }
            &-mobile{
                display: flex;
                align-items: center;
                &_cabinet, &_like{
                    margin-right: 22px;
                }
            }
        }
        &__addition{
            display: none;
        }
    }
}