.news {
    @include adaptiv-marginBottom(150, 75);

    &__slider {
        &-item {
            border: 1px solid rgba(219, 192, 158, 0.3);
            @include adaptiv-padding(30,15);
            transition: all .3s;

            &:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            }

            &_img {
                width: 100%;
                border-radius: 30px;
                overflow: hidden;
                object-fit: cover;
                @include adaptiv-marginBottom(30, 15);
            }

            &_title {
                font-family: 'OrchideaProBold';
                @include adaptiv-font(22, 18);
                margin-bottom: 15px;
                height: 45px;
            }

            &_text {
                @include adaptiv-font(18, 15);
                @include adaptiv-marginBottom(50, 25);
                line-height: 140%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                line-clamp: 4;
                box-orient: vertical;
            }

            &_bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &_date{
                font-family: 'OrchideaProRegular';
                @include adaptiv-font(16,12);
            }

            &_more{
                font-family: 'OrchideaProMedium';
                @include adaptiv-font(18,15);
                color: #454850;
                transition: all .3s;
                &:hover{
                    color: #DBC09E;
                }
            }
        }
    }
}