.sortCountView {
    margin-bottom: 35px;
    display: flex;
    justify-content: end;

    &__inner {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sort,
    &__count,
    &__view,
    &__filter{
        padding-bottom: 15px;
    }

    &__filter{
        display: none;
    }

    &__sort,
    &__count {
        position: relative;
        &::after {
            position: absolute;
            content: url(/images/icons/arrow-bottom.svg);
            right: -20px;
        }

        &:hover {

            .sortCountView__sort-list,
            .sortCountView__count-list {
                display: block;
            }
        }

        &-list {
            position: absolute;
            background-color: #FAF6F0;
            border: 1px solid #E2DFD9;
            border-radius: 20px;
            padding: 25px !important;
            z-index: 10;
            top: 30px;
            right: -45px;
            display: none;
        }
        &-item{
            transition: all .3s;
            &:not(:last-child){
                margin-bottom: 12px;
                width: max-content;
            }
            &:hover{
                color: #C79B77;
            }
        }
    }

    &__view {
        display: flex;
        align-items: center;

        &-btn {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}


@media (max-width: 1600px) {
    .sortCountView{
        &__inner{
            width: 60%;
        }
    }
}


@media (max-width: 1000px) {
    .sortCountView{
        &__inner{
            width: 100%;
        }

        &__filter{
            display: block;
        }
    }
}