.footer {
    @include adaptiv-paddingTop(50, 25);
    @include adaptiv-paddingBottom(50, 25);
    position: relative;
    background-color: #2C2F36;

    &__logo {
        width: 190px;
        position: absolute;
        left: 4%;
        top: 0;
        transition: all .3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__top {
        width: 85%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        @include adaptiv-paddingBottom(70, 35);

        &-nav {
            width: 85%;
            display: flex;
            justify-content: space-between;
        }

        &-item {
            @include adaptiv-marginBottom(22, 11);
        }

        &-link {
            color: #FAF6F0;
            @include adaptiv-font(18, 9);
        }

        &-contacts {
            &_number {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include adaptiv-marginBottom(40, 20);
            }

            &_social {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    &__center {
        @include adaptiv-paddingBottom(30, 15);
        width: 85%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-info {
            color: #FAF6F0;
            line-height: 18px;
            @include adaptiv-font(18, 9);
        }

        &-payment {
            display: flex;

            &_img:not(:last-child) {
                @include adaptiv-marginRight(30, 15);
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(250, 246, 240, 0.2);
        @include adaptiv-paddingTop(30, 15);
        @include adaptiv-font(18, 9);

        &-link {
            color: inherit;
            transition: all .3s;

            &:first-child {
                @include adaptiv-marginRight(136, 69);
            }

            &:hover {
                color: #FAF6F0;
            }
        }

        &-email {
            color: #FAF6F0;
        }
    }


}



@media (max-width: 1500px) {
    .footer {
        padding-top: 250px;

        &__top {
            width: 100%;
            display: flex;
            flex-direction: column;

            &-nav {
                width: 100%;
                margin-bottom: 30px;
            }

            &-contacts {
                display: flex;
                align-items: center;

                &_number {
                    margin-bottom: 0;
                    margin-right: 30px;
                }

                &_social {
                    &>.social__link:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        &__center {
            width: 100%;
        }
    }
}


@media (max-width: 750px) {
    .footer {
        padding-top: 180px;
        &__logo {
            width: 136px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%)
        }

        &__top {
            &-nav {
                justify-content: center;
                &_column {

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
            &-item{
                text-align: center;
            }
            &-contacts{
                flex-direction: column;
                &_number{
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
        }
        &__center{
            flex-direction: column;
            &-info{
                margin-bottom: 25px;
            }
        }
        &__bottom{
            flex-direction: column;
            &-links{
                order: 2;
                display: flex;
                flex-direction: column;
            }
            &-link{
                margin-right: 0 !important;
                text-align: center;
                margin-bottom: 15px;
            }
            &-email{
                text-align: center;
                order: 1;
                margin-bottom: 20px;
            }
        }
    }
}