.account {
    &__login {
        @include adaptiv-font(24, 18);
        font-family: 'OrchideaProSemiBold';
        margin-bottom: 30px;
    }


    &__nav {
        width: 600px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(69, 72, 80, 0.2);

        &-item {
            padding-bottom: 4px;
            @include adaptiv-font(18, 15);

            &--active {
                border-bottom: 3px solid #DBC09E;
                font-family: 'OrchideaProSemiBold';
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__data {
        width: 700px;
        display: none;
        @include adaptiv-font(18, 15);

        &-item {
            display: flex;
            align-items: start;
            margin-bottom: 30px;

            &--edit {
                position: relative;
                &:after {
                    position: absolute;
                    content: url(/images/icons/edit-icon.svg);
                    right: 0;
                    bottom: 18px;
                    width: 15px;
                    height: 15px;
                }
            }

            &--edit-birth {
                &:after {
                    right: 40px;
                }
            }
        }

        &-item:last-child {
            margin-bottom: 50px;
        }

        &-title {
            width: 35%;
            font-family: 'OrchideaProSemiBold';
        }

        &-radio {
            width: 65%;
            display: flex;
            align-items: center;

            &_item {
                opacity: 0.5;

                &:first-child {
                    margin-right: 77px;
                }

                &--checked {
                    opacity: 1;
                }
            }
        }

        &-input {
            width: 65%;
            background-color: transparent;
            border: none;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(69, 72, 80, 0.5);
        }

        &-btn {
            width: 30%;
            margin: auto;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &__bonuses {
        width: 900px;
        @include adaptiv-font(18, 15);
        display: none;

        &-title {
            font-family: 'OrchideaProSemiBold';
            margin-bottom: 32px;
        }

        &-status {
            display: flex;
            align-items: start;

            &_title {
                width: 100px;
                font-family: 'OrchideaProSemiBold';
                position: relative;
                padding-right: 14px;
                margin-right: 40px;
                padding-top: 5px;
                padding-bottom: 5px;
                display: flex;
                align-items: center;

                &:after {
                    left: 85px;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    content: url(/images/icons/cup.svg);
                }
            }

            &_item {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 23px;
                }

                &--active {
                    &>div {
                        font-family: 'OrchideaProBold';
                        background-color: #DBC09E;
                        color: #FAF6F0 !important;
                    }
                }

                &>div {
                    padding: 15px 25px;
                    width: fit-content;
                    border-radius: 50px;
                    border: 1px solid rgba(69, 72, 80, 0.2);
                    color: rgba(69, 72, 80, 0.5);
                }

                &-type {
                    margin-right: 30px;
                }

                &-descr {
                    max-width: 350px;
                    @include adaptiv-font(18, 15);
                    line-height: 18px;
                    color: rgba(69, 72, 80, 0.5);
                    margin-left: 15px;
                }
            }
        }
    }

    &__history {
        display: none;

        &-list {
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
        }

        &-item {
            width: 32%;
            border: 1px solid rgba(69, 72, 80, 0.2);
            border-radius: 50px;
            padding: 30px 40px;
            position: relative;

            &_title {
                @include adaptiv-font(24, 18);
                font-family: 'OrchideaProBold';
                margin-bottom: 37px;
            }

            &_point {
                @include adaptiv-font(18, 15);
                display: flex;

                &-title {
                    width: 40%;
                    font-family: 'OrchideaProSemiBold';
                }

                &-text {
                    &>span {
                        &:first-child {
                            margin-right: 17px;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 17px;
                }
            }

            &:after {
                position: absolute;
                content: url(/images/icons/cart.svg);
                top: 20px;
                right: 40px;
            }
        }
    }
}


.content {
    &-active {
        display: block !important;
    }
}


@media (max-width: 1850px) {
    .account{
        &__history{
            &-item{
                &_point{
                    flex-direction: column;
                    &-title{
                        width: 100%;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1350px) {
    .account{
        &__history{
            &-item{
                &:after{
                    right: 15px;
                }
            }
        }
    }
}



@media (max-width: 1000px) {
    .account{
        &__bonuses{
            width: 100%;
            &-status{
                flex-direction: column;
                &_title{
                    margin-bottom: 14px;
                }
                &_item{
                    justify-content: space-between;
                    &>div{
                        width: 270px;
                        display: flex;
                        justify-content: space-between;
                         &>.account__bonuses-status_item-type{
                            margin-right: 0;
                         }
                    }
                    &-descr{
                        max-width: none;
                        width: 50%;
                    }
                }
            }
        }
    }
}




@media (max-width: 750px) {
    .account{
        &__nav{
            width: 100%;
        }
        &__data{
            width: 100%;
        }
        &__history{
            &-slider{
                &>.slider-theme__navigation{
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .account{
        &__data{
            &-item{
                flex-direction: column;
            }

            &-title{
                width: 100%;
                margin-bottom: 16px;
            }

            &-radio,
            &-input{
                width: 100%;
            }

            &-btn{
                width: 100%;
            }
        }

        &__bonuses{
            &-title{
                text-align: center;
            }
            &-status{
                align-items: center;
                &_title{
                    margin-right: 0;
                }
                &_item{
                    flex-direction: column;
                    &>div{
                        width: 90%;
                        margin-bottom: 8px;
                    }
                    &-descr{
                        width: 90%;
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}