.promo{
    background-image: url(/images/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include adaptiv-paddingTop(170, 130);
    @include adaptiv-paddingBottom(290, 50);
    &__title{
        width: 54%;
        font-family: 'OrchideaProSemiBold';
        color: #FFFFFF;
        @include adaptiv-font(64,28);
        @include adaptiv-marginBottom(57,30);
    }
    &__btn{
        width: 25%;
    }
}



@media (max-width: 750px) {
    .promo{
        &__title{
            width: 100%;
        }
        &__btn{
            width: 40%;
        }
        
    }
}


@media (max-width: 400px) {
    .promo{
        &__btn{
            width: 100%;
        }
    }
}