.prepayment {
    @include adaptiv-marginBottom(150,75);
    &__wrapper {
        width: 80%;
        margin: auto;
    }

    &__title {
        margin-bottom: 33px;
    }

    &__info {
        display: flex;
        justify-content: space-around;

        &-column {
            width: 35%;
        }

        &-title {
            font-size: 20px;
            line-height: 130%;
            font-family: 'OrchideaProSemiBold';
            margin-bottom: 15px;
        }

        &-item {
            font-size: 18px;
            line-height: 130%;
            padding-left: 30px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &::before{
                position: absolute;
                content: '•';
                left: 0;
                margin-left: 10px;
            }
        }
    }
}


@media (max-width: 1200px) {
    .prepayment{
        &__wrapper{
            width: 100%;
        }
    }
}


@media (max-width: 850px) {
    .prepayment{
        &__info{
            justify-content: space-between;
            &-column{
                width: 45%;
            }
        }
    }
}